html {
    min-height: 100%;
}
.corpo {
    min-height: 100%;
    background-image: url(imgs/burguer4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}

.logo {
    width: 50px;
}

.main {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    font-size: 5rem;
    color: #FFFF;
}

.anton {
    font-family: Anton;
}

.burguer {
    width: 50rem;
    height: 60rem;
}

.status {
    z-index: 10;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: absolute;
    font-size: 1.5rem;
    font-family: anton;
    margin: 1.5rem 1.5rem;
}



